#hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  align-items: start;
  padding: 30px;
  background-image: url(../images/herobg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: purple;
}
#hero > h1 {
  font-family: "Playfair Display";
  font-size: 28px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1;
  color: pink;
}
#hero > p {
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.5;
  color: pink;
}
#hero > button {
  width: 300px;
  padding: 10px 15px;
  background: transparent;
  color: pink;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
}
.hero__job {
  font-family: "Playfair Display", serif;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero__edu {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  margin-bottom: 50px;
  font-weight: 300;
  color: pink;
}
