.skill_box {
  margin-bottom: 20px;
}
.skill_box > p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  font-weight: normal;
  line-height: 1.8;
  margin-top: 50px;
  margin-bottom: 15px;
}
.skill_grey_box {
  background: #9999;
  border-radius: 6px;
}
.skill_color_box {
  background: blue;
  width: 88%;
  border-radius: 6px;
  height: 6px;
  position: relative;
}
.skill_color_box > span {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  position: absolute;
  right: 0;
  top: -22px;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .outer_box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
